.container {
  height: 397px;
  width: 100%;
  box-sizing: border-box;

  padding: 70px 242px 40px 242px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.titleContainer {
  height: 100%;
}

.secondTitleContainer {
  width: 216px;
}

.title {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.secondTitle {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

  opacity: 0.7;
}

.linkDecoration {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: none;
}

.text {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: none;
  margin: 0px 20px;
}

.thirdTitleContainer {
  height: 100%;
  margin-bottom: 40px;
}

.anotherTitleContainer {
  margin-bottom: 73px;
}
