.container {
  padding: 40px 242px 60px 242px;
  width: 100%;
  height: 100%;
}

@media (max-width: 820px) {
  .container {
    padding: 64px 64px 64px 64px;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 32px 32px 32px 32px;
  }
}

.movieContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1600px) {
  .movieContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1320px) {
  .movieContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .movieContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  composes: primary-font size-xxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;
  padding-bottom: 8px;
}

.warning {
  composes: primary-font size-xxl from global;
  color: var(--text-color-primary);
}

.link {
  composes: background-tertiary from global;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  width: 200px;
  height: 100%;
}

@media (max-width: 500px) {
  .link {
    width: 100%;
  }
}
