@import "@/shared/ui/styles/breakpoints/breakpoints-mixins.scss";

.positionAbsolute {
  position: absolute;
}

.header {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 110px;

  top: 0;
  z-index: 4;
}

.logoLink {
  padding-left: 32px;
}

.buttonContainer {
  width: 445px;
}

.linkDecoration {
  composes: secondary-font size-l from global;
  text-decoration: none;
  color: #ffffff;
  margin: 20px 20px;

  font-weight: 400;
  text-align: center;

  cursor: pointer;
}

@include tablet {
  .searchDecoration {
    display: none;
  }
}

@include mobile {
  .linkDecoration {
    display: none;
  }
  .buttonContainer {
    display: none;
  }
}
