.positionAbsolute {
  position: absolute;
}

.header {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 110px;

  top: 0;
  z-index: 4;
}

.buttonContainer {
  width: 445px;
}

@media (max-width: 620px) {
  .buttonContainer {
    display: none;
  }
}

.linkDecoration {
  composes: secondary-font size-l from global;
  text-decoration: none;
  color: #ffffff;
  margin: 20px 20px;

  font-weight: 400;

  cursor: pointer;
}

@media (max-width: 620px) {
  .linkDecoration {
    display: none;
  }
}
