@import "@/shared/ui/styles/breakpoints/breakpoints-mixins.scss";

.positionAbsolute {
  position: absolute;
}

.header {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 110px;

  top: 0;
  z-index: 4;
}

.logoLink {
  flex: 0 0 154px;
  margin-left: 32px;
}

.buttonContainer {
  flex-basis: 35%;
}

.linkDecoration {
  composes: secondary-font size-l from global;
  text-decoration: none;
  color: #ffffff;
  margin: 20px 20px;

  font-weight: 400;
  text-align: center;

  cursor: pointer;
}

.burgerMenuDecoration {
  flex: 0 0 20px;
  display: none;
}

.searchDecoration {
  flex: 0 0 20px;
}

@include tablet {
  .logoLink {
    flex: 0 0 130px;
    margin-left: 0x;
  }

  .buttonContainer {
    flex-basis: 20%;
  }

  .themeSwitcher {
    transform: scale(0.8);
  }
}

@include mobile {
  .logoLink {
    flex: 0 0 110px;
  }
  .burgerMenuDecoration {
    display: block;
  }
  .searchDecoration {
    display: none;
  }
  .home {
    display: none;
  }
  .movieRelease {
    display: none;
  }
  .about {
    display: none;
  }
  .contact {
    display: none;
  }

  .themeSwitcher {
    transform: scale(0.7);
  }
}
