$dark-theme-background-primary: rgb(13, 12, 15);
$dark-theme-background-secondary: #fff;
$dark-theme-background-tetriary-color: #141414;
$dark-theme-color-primary: #fff;
$dark-theme-color-secondary: rgb(13, 12, 15);
$dark-theme-color-tertiary: #fff;

$light-theme-background-primary: #fff;
$light-theme-background-secondary: rgb(13, 12, 15);
$light-theme-background-tetriary-color: rgb(127, 98, 177);
$light-theme-color-primary: rgb(13, 12, 15);
$light-theme-color-secondary: #fff;
$light-theme-color-tertiary: #fff;
