@mixin applyTheme(
  $bg-primary,
  $bg-secondary,
  $bg-gradient,
  $color-primary,
  $color-secondary,
  $color-tertiary
) {
  .scheme-primary {
    background-color: $bg-primary;
    color: $color-primary;
  }

  .scheme-secondary {
    background-color: $bg-secondary;
    color: $color-secondary;
  }

  .scheme-gradient {
    background: $bg-gradient;
  }

  .text-primary {
    color: $color-primary;
  }

  .text-secondary {
    color: $color-secondary;
  }

  .text-tertiary {
    color: $color-tertiary;
  }

  .bg-primary {
    background-color: $bg-primary;
  }

  .bg-secondary {
    background-color: $bg-secondary;
  }

  .bg-gradient {
    background-color: $bg-gradient;
  }
}
