@mixin applyTheme(
  $bg-primary,
  $bg-gradient,
  $text-color-primary,
  $text-color-secondary,
  $border-color,
  $icon-filter,
  $container-border
) {
  .scheme-primary {
    background-color: $bg-primary;
    color: $text-color-primary;
  }

  .scheme-secondary {
    border: $border-color;
    color: $text-color-primary;
  }

  .scheme-gradient {
    background: $bg-gradient;
  }
  .container-border {
    border-top: $container-border;
  }
  .text-primary {
    color: $text-color-primary;
  }

  .text-secondary {
    color: $text-color-secondary;
  }

  .bg-gradient {
    background-color: $bg-gradient;
  }

  .scheme-icon {
    filter: $icon-filter;
  }
}
