@mixin applyTheme(
  $bg-primary,
  $bg-gradient-primary,
  $text-color-primary,
  $text-color-secondary,
  $border-primary,
  $image-filter,
  $bg-secondary,
  $bg-gradient-secondary
) {
  .scheme-primary {
    background-color: $bg-primary;
    color: $text-color-primary;
  }

  .scheme-gradient {
    background: $bg-gradient-primary;
  }
  .scheme-gradient-secondary {
    background-image: $bg-gradient-secondary, var(--poster-url);
  }

  .button-primary {
    border: $border-primary;
    color: $text-color-primary;
  }

  .background-secondary {
    background-color: $bg-secondary;
  }

  .text-primary {
    color: $text-color-primary;
  }

  .text-secondary {
    color: $text-color-secondary;
  }

  .filter-color-inversion {
    filter: $image-filter;
  }
}
