$dark-theme-background-primary: rgb(13, 12, 15);
$dark-theme-background-secondary: #fff;
$dark-theme-background-gradient: linear-gradient(
  -0.55deg,
  rgb(13, 12, 15) 0.737%,
  rgba(13, 12, 15, 0.85) 28.516%,
  rgba(13, 12, 15, 0) 48.816%,
  rgba(13, 12, 15, 0.28) 70.719%,
  rgb(13, 12, 15) 103.306%
);
$dark-text-color-primary: #fff;
$dark-text-color-secondary: rgb(13, 12, 15);
$dark-text-color-tertiary: rgb(156, 164, 171);

$light-theme-background-primary: #fff;
$light-theme-background-secondary: rgb(13, 12, 15);
$light-theme-background-gradient: linear-gradient(
  -0.55deg,
  rgb(255, 255, 255) 3%,
  rgba(255, 255, 255, 0.85) 15%,
  rgba(17, 16, 16, 0) 50%,
  rgba(13, 12, 15, 0.28) 70.719%,
  rgb(13, 12, 15) 103.306%
);
$light-text-color-primary: rgb(13, 12, 15);
$light-text-color-secondary: #fff;
$light-text-color-tertiary: rgb(99, 101, 102);
