@import "./theme-variables.scss";
@import "./theme-mixins.scss";

body {
  &.current-theme-light {
    @include applyTheme(
      $light-theme-background-primary,
      $light-theme-background-gradient-primary,
      $light-text-color-primary,
      $light-text-color-secondary,
      $light-theme-border-primary,
      $light-image-filter,
      $light-theme-background-secondary,
      $light-theme-background-gradient-secondary,
      $light-theme-background-tertiary,
      $light-theme-background-gradient-tertiary
    );
  }

  &.current-theme-dark {
    @include applyTheme(
      $dark-theme-background-primary,
      $dark-theme-background-gradient-primary,
      $dark-text-color-primary,
      $dark-text-color-secondary,
      $dark-theme-border-primary,
      $dark-image-filter,
      $dark-theme-background-secondary,
      $dark-theme-background-gradient-secondary,
      $dark-theme-background-tertiary,
      $dark-theme-background-gradient-tertiary
    );
  }
}
