.header {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 110px;
  margin: 0px 160px 0px 160px;
  position: absolute;
  bottom: 83%;
  z-index: 3;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 445px;
  height: 19px;
}

.iconContainer {
  display: flex;
  width: 58px;
  justify-content: space-between;
}

.linkDecoration {
  text-decoration: none;
  color: #ffffff;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
