.container {
  width: 100vw;
  height: 648px;
  display: flex;
  overflow: hidden;
  margin: 0px 211px;
}

.img {
  width: 1650px;
  height: 100%;
  object-position: top;

  object-fit: cover;
  margin: 0px 211px 0px 211px;
}

.title {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5%;
  text-align: left;
}
