.container {
  min-width: 200px;
}

@media (max-width: 430px) {
  .container {
    flex-direction: row;
  }
}

.movieContainer {
  padding: 10px 15px;
}

.img {
  object-fit: cover;
  object-position: top;
  min-height: 300px;

  border-radius: 16px;
}

.movieTitle {
  composes: primary-font size-l from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;
}

.imgStar {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 8px;
}

.popularity {
  composes: primary-font size-sm from global;
  color: var(--text-color-secondary);
  font-weight: 500;
  text-align: left;
}

.starContainer {
  margin-top: 8px;
}
