@import '@/shared/ui/styles/breakpoints/breakpoints-mixins.scss';

.container {
  width: 200px;
}

.movieContainer {
  padding: 10px 15px;
}

.img {
  object-fit: cover;
  object-position: top;
  height: 300px;

  border-radius: 16px;
}

.movieTitle {
  composes: primary-font size-l from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;
}

.imgStar {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 8px;
}

.popularity {
  composes: primary-font size-sm from global;
  color: var(--text-color-secondary);
  font-weight: 500;
  text-align: left;
}

.starContainer {
  margin-top: 8px;
}

@include tablet {
  .img {
    height: 225px;
  }

  .container {
    width: 150px;
  }
}

@include mobile {
  .img {
    height: 150px;
  }

  .container {
    width: 100%;
    flex-direction: row;
  }
}
