.container {
  padding: 40px 242px 40px 242px;
  composes: container-border from global;
}

.title {
  composes: text-primary primary-font size-xl from global;

  font-weight: 700;
  text-align: left;
  padding-bottom: 8px;
}

.warning {
  composes: text-primary primary-font size-xl from global;
}
