.container {
  padding: 40px 242px 60px 242px;
}

.title {
  composes: text-primary primary-font size-xxl from global;

  font-weight: 700;
  text-align: left;
  padding-bottom: 8px;
}

.warning {
  composes: text-primary primary-font size-xxl from global;
}
