.container {
  padding: 40px 242px 40px 242px;
  composes: container-border from global;
}

.title {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.5%;
  text-align: left;
  padding-bottom: 8px;
}

.warning {
  composes: text-primary from global;
  font-family: Rubik;
  font-size: 24px;
}
