.container {
  width: 100%;
}

.posterContainer {
  height: 800px;
}

.moviePreview {
  width: 200px;
}

.sliderHeader {
  composes: primary-font size-xxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;

  box-sizing: border-box;
  padding: 24px 242px 0px 242px;
  width: 100%;
}
.slider {
  padding: 20px 0px 40px 0px;
}

.link {
  composes: background-tertiary from global;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}
