.container {
  width: 100%;
}

.posterContainer {
  composes: poster-grid from global;
}

.moviePreview {
  width: 200px;
}

.slider {
  padding: 40px 0;
}

.link {
  composes: background-tertiary from global;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}
