@import "@/shared/ui/styles/breakpoints/breakpoints-mixins.scss";

.secondContainer {
  width: 100%;
  margin-bottom: 34px;
}

.footer {
  width: 240px;
}

.firstTitle {
  composes: primary-font size-m from global;
  color: var(--text-color-primary);

  opacity: 0.7;
}

.secondTitle {
  composes: primary-font size-m from global;
  color: var(--text-color-primary);
  opacity: 0.7;
  display: flex;
}

@include tablet {
  .secondContainer {
    flex-direction: column;

    align-items: center;
  }

  .secondTitle {
    font-size: 18px;
  }
}

@include laptop {
  .footer {
    padding: 32px 0px;
  }
}
