.container {
  width: 100%;
}

.visibleItems {
  width: 76%;
  overflow: hidden;
}

.buttonContainer {
  width: 242px;
  padding: 0 20px;
}

.img-arrow {
  filter: var(--image-filter);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  width: 21px;
  height: 21px;
}

.button {
  composes: background-tertiary from global;
  background-color: rgba(122, 122, 122, 0.753);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 50%;
}

.prevButton {
  transform: rotate(180deg);
}
