@import "@/shared/ui/styles/breakpoints/breakpoints-mixins.scss";

.posterContainer {
  width: 100%;
}

.generalContainer {
  position: relative;
  width: 100%;
}

.gradient {
  background: var(--bg-gradient-primary);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;

  position: absolute;
  z-index: 1;
}

.titleContainer {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 64px 242px 64px 242px;
}

.movie-title {
  composes: primary-font size-xxxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  margin-bottom: 20px;
}

.information {
  composes: primary-font size-m from global;
  color: var(--text-color-secondary);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 24px;
}

.summary {
  box-sizing: border-box;
  padding-bottom: 40px;
  width: 100%;
}

.storyTitle {
  composes: primary-font size-xxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.storyText {
  composes: secondary-font size-l from global;
  color: var(--text-color-secondary);
  font-weight: 600;

  text-align: left;
}

@include tablet {
  .titleContainer {
    padding: 64px 64px 64px 64px;
  }
  .summary {
    padding: 64px 64px 64px 64px;
  }
  .buttonLike {
    width: 50%;
  }
}

@include mobile {
  .titleContainer {
    padding: 32px 32px 32px 32px;
  }
  .summary {
    padding: 32px 32px 32px 32px;
  }
  .addWatchListButton {
    width: 75%;
  }
}
