.posterContainer {
  width: 100%;
}
.generalContainer {
  position: relative;
  width: 100%;
}

.gradient {
  background: var(--bg-gradient-primary);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}

@media (max-width: 620px) {
  .gradient {
    height: 50%;
  }
}

.movie-img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;

  position: absolute;
  z-index: 1;
}

@media (max-width: 620px) {
  .movie-img {
    height: 50%;
  }
}

.titleContainer {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 64px 242px 64px 242px;
}

@media (max-width: 770px) {
  .titleContainer {
    padding: 64px 64px 64px 64px;
  }
}

@media (max-width: 430px) {
  .titleContainer {
    padding: 32px 32px 32px 32px;
  }
}

.movie-title {
  composes: primary-font size-xxxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: lef16t;
  margin-bottom: 20px;
}

.information {
  composes: primary-font size-m from global;
  color: var(--text-color-secondary);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 24px;
}

.summary {
  box-sizing: border-box;
  padding: 0px 242px 40px 242px;
  width: 100%;
}

@media (max-width: 770px) {
  .summary {
    padding: 64px 64px 64px 64px;
  }
}

@media (max-width: 430px) {
  .summary {
    padding: 32px 32px 32px 32px;
  }
}

.storyTitle {
  composes: primary-font size-xxl from global;
  color: var(--text-color-primary);
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.storyText {
  composes: secondary-font size-l from global;
  color: var(--text-color-secondary);
  font-weight: 600;

  text-align: left;
}
