@import "./typography-variables.scss";

.primary-font {
  font-family: $primary-font-family;
}

.secondary-font {
  font-family: $secondary-font-family;
}

.size-sm {
  font-size: $font-size-sm;
}

.size-m {
  font-size: $font-size-m;
}

.size-l {
  font-size: $font-size-l;
}

.size-xl {
  font-size: $font-size-xl;
}

.size-xxl {
  font-size: $font-size-xxl;
}

.size-xxxl {
  font-size: $font-size-xxxl;
}

.size-4xl {
  font-size: $font-size-4xl;
}
