$primary-font-family: Rubik;
$secondary-font-family: Inter;

$font-size-sm: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-ll: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
