.secondContainer {
  width: 100%;
}
.footer {
  width: 240px;
}
.firstTitle {
  composes: text-primary primary-font size-m from global;

  opacity: 0.7;
}

.secondTitle {
  composes: text-primary primary-font size-m from global;
  opacity: 0.7;
  display: flex;
}
