.paginationContainer {
  width: 100%;
}

.buttonsContainer {
  padding-top: 40px;
}
.img-arrow {
  filter: var(--image-filter);
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
  height: 15px;
}

.button {
  composes: background-tertiary from global;
  background-color: rgba(122, 122, 122, 0.753);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  opacity: 50%;
}

.prevButton {
  transform: rotate(180deg);
}

.pageInfo {
  color: var(--text-color-secondary);
  font-weight: 600;
}
