.container {
  min-height: 100vh;
  width: 670px;

  padding: 210px 0px 100px 0px;
}

.title {
  composes: text-primary primary-font size-xxxl from global;
  display: flex;
}

.information {
  height: 270px;
}
