.container {
  height: 100vh;
  width: 670px;

  padding: 210px 0px 100px 0px;
}

.title {
  composes: text-primary primary-font size-xxxl from global;
  display: flex;
  font-weight: 500;
  line-height: 48px;
}

.information {
  height: 270px;
}

.contactInfo {
  composes: text-primary primary-font size-xxl from global;
  font-weight: 400;
}

.contactTitle {
  composes: text-primary primary-font size-m from global;
  font-weight: 200;
}

.secondContainer {
  width: 100%;
}
.footer {
  width: 240px;
}
.firstTitle {
  composes: text-primary primary-font size-m from global;
  font-weight: 400;
  opacity: 0.7;
}

.secondTitle {
  composes: text-primary primary-font size-m from global;
  font-weight: 400;
  opacity: 0.7;
  display: flex;
}
