:root {
  --poster-url: url("@/shared/ui/assets/poster.png");
}

.container {
  composes: scheme-gradient-secondary from global;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
