.button {
  composes: color-scheme-third color-scheme-third-hover size-m from global;

  font-weight: 500;
  display: flex;
  height: 50px;

  align-items: center;

  border-radius: 10px;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", serif;

  border: none;
  padding: 12px 6px;
  &:hover {
    cursor: pointer;
  }
}
