h2 {
  font-weight: 500;
  text-align: center;
  margin: 0;
  font-family: "Open Sans", serif;
}

.text-s {
  composes: size-sm from global;
}

.text-m {
  composes: size-m from global;
}

.text-l {
  composes: size-l from global;
}

.text-xl {
  font-size: 27px;
}

.color-blue {
  color: var(--blue-text);
}

.color-yellow {
  composes: typography-secondary from global;
}

.color-white {
  composes: typography-primary from global;
}
