.likeButton {
  width: 180px;
  height: 46px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding: 12px 24px 12px 24px;
  background: transparent;
  box-sizing: border-box;

  border-radius: 10px;
  composes: scheme-secondary from global;

  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.5%;
  text-align: left;
}

.like-img {
  composes: scheme-icon from global;
  margin-right: 10px;

  position: relative;
  width: 19px;
  height: 19px;

  top: 1.4px;
}
