.likeButton {
  composes: button-primary secondary-font size-m from global;
  width: 180px;
  height: 46px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding: 12px 24px 12px 24px;
  background: transparent;
  box-sizing: border-box;

  border-radius: 10px;

  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: left;
}

.like-img {
  composes: filter-color-inversion from global;
  margin-right: 10px;

  position: relative;
  width: 19px;
  height: 19px;

  top: 1.4px;
}
