.buttonContainer {
  padding-bottom: 80px;
}

.button {
  composes: background-tertiary from global;
  background: transparent;

  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: none;
  border-radius: 16px;

  composes: primary-font size-m from global;
  color: var(--text-color-primary);
}

.pageButtonActive {
  composes: primary-font size-m from global;
  background-color: var(--bg-secondary);
  font-weight: bold;
  width: 56px;
  height: 56px;
}

.prevButton {
  transform: rotate(180deg);
  margin-right: 10px;
}

.nextButton {
  margin-left: 10px;
}

.dots {
  composes: primary-font size-m from global;
  color: var(--text-color-primary);
  min-width: 32px;
  text-align: center;
}

.img-arrow {
  filter: var(--image-filter);
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
  width: 15px;
  height: 15px;
}
