// @import "shared/ui/styles/scheme.scss";
// @import "shared/ui/styles/mixins-theme.scss";

body {
  display: flex;

  flex-direction: column;
  background-color: rgb(13, 12, 15);
  overflow-x: hidden;
}
