$primary-font-family: Rubik;
$secondary-font-family: Inter;

$largest-font-size: 40px;
$large-font-size: 32px;
$medium-font-size: 20px;
$small-font-size: 16px;
$mini-font-size: 14px;

// $dark-theme-background-secondary: #1f1f1f;
// $dark-theme-background-third: #333333;
// $dark-theme-color-primary: #fff;
// $dark-theme-color-secondary: #cbf157;
// $dark-theme-toggle-color: #141414;

// $light-theme-background-primary: #f0ecf7;
// $light-theme-background-secondary: #fffdfd;
// $light-theme-background-third: #f0ecf7;

// $light-theme-color-primary: #000000;
// $light-theme-color-secondary: blue;
// $light-theme-toggle-color: rgb(127, 98, 177);

// :root {
//   --blue-text: blue;
// }
