@import "@/shared/ui/styles/breakpoints/breakpoints-mixins.scss";

.container {
  width: 100%;
}

.posterContainer {
  height: 800px;
}

@include tablet {
  .posterContainer {
    height: 500px;
  }
}
