.posterContainer {
  width: 100%;
}
.generalContainer {
  position: relative;
  width: 100%;
}

.gradient {
  background: var(--bg-gradient-primary);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}

.movie-img {
  width: 100%;
  height: 800px;
  object-position: top;
  object-fit: cover;

  position: absolute;
  z-index: 1;
}

.titleContainer {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 64px 242px 64px 242px;
}

.movie-title {
  composes: text-primary primary-font size-xxxl from global;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.information {
  composes: text-secondary primary-font size-m from global;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 24px;
}

.summary {
  box-sizing: border-box;
  padding: 0px 242px 40px 242px;
  width: 100%;
}

.storyTitle {
  composes: text-primary primary-font size-xxl from global;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.storyText {
  composes: text-secondary secondary-font size-l from global;
  font-weight: 600;

  text-align: left;
}
