.generalContainer {
  position: relative;
  width: 100vw;
  height: 648px;
}

.generalMovie {
  width: 100vw;
  height: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  z-index: 1;
}

.gradient {
  width: 100vw;
  height: 648px;
  display: flex;
  background: linear-gradient(
    -0.55deg,
    rgb(13, 12, 15) 0.737%,
    rgba(13, 12, 15, 0.85) 11%,
    rgba(13, 12, 15, 0) 48.816%,
    rgba(13, 12, 15, 0.28) 70.719%,
    rgb(13, 12, 15) 103.306%
  );
  position: absolute;
  z-index: 2;
}

.container {
  width: 100vw;
  height: 648px;

  overflow: hidden;
  margin: 0px 211px;
}

.img {
  width: 1650px;
  height: 100%;
  object-position: top;

  object-fit: cover;
  margin: 0px 211px 0px 211px;
}

.title {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5%;
  text-align: left;
}
